:root {
    --gray: lightgray;
    --white: white;
    --skyblue: blue;
}
.myheight {
    max-height: 400px;
    width: max-content;
}

.myheight2 {
    max-height: 100px;
}
.photo-background {
    height: 17%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/Seattle.jpeg");
    background-position: relative;
    background-size: cover;
    display: inline-block;
};
/* .profile {
    position: absolute;
    top: 0;
    left: 5px;
    margin-top: 120px;
    border-radius: 20%;
    height: 400px;
    width: auto;
    z-index: 1;
} */

.content {
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
}

/* .content-section {

} */

#background {
    background-color: var(--gray);
}
