:root {
    --gray: lightgray;
    --white: white;
    --skyblue: blue;
}
.myheight {
    max-height: 400px;
    width: max-content;
}

.myheight2 {
    max-height: 100px;
}
.photo-background {
    height: 17%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/Seattle.jpeg");
    background-position: relative;
    background-size: cover;
    display: inline-block;
}

.content {
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
}

#background {
    background-color: var(--gray);
}

.myprojects {
    position: relative
    
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }